*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1F2937;
    
}
.flex-container > div{
    padding: 0 100px;
}

/* Header */



.nav{
    display: flex;
    gap: 18px;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.logo{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}
.logo, .section1 h3{
    color: #F9FAF8;
}

/* Section 1 */
.section1{
    display: flex;
    align-items: center;
    gap: 24px;
    flex:1;
    justify-content: space-around;
    margin: 60px 0;
}
.section1  h3{
    font-size: 48px;
    margin: 0;
    
}
.section1 p{
    margin: 12px 0;
    color: #E5E7EB;
    font-size: 18px;
}
.section1 button{
    background-color: #3882F6;
    padding: 4px 16px;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: 600;
    border: 0;
    font-family: "Roboto";
}
.left-side{
    max-width: 400px;
    padding-bottom: 12px;
}
img{
    width: 300px;
    height: 200px;
    border-radius: 6px;
}

/* Section 2 */
.section2{
    background-color: white;
}
.section2 > h3, .wrapper > p{
    text-align: center;
}
.section2 > h3{
    font-size: 36px;
    font-weight:900;
}
.container1{
    display: flex;
    gap: 12px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container1 .box{
    border: 2px solid #3882F6;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 6px;
}
.container1 .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 120px;
}

/* Section 3 */
.section3{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.wrapper3{
    padding: 120px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
.tag{
    align-self: flex-end;
    flex-shrink: 0;
}

/* Section 4 */
.section4{
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.wrapper4{
    margin: 40px;
}
.rectangle{
    background-color: #3882F6;
    padding: 20px 130px;
    display: flex;
    align-items: flex-end;
    min-width: 600px;
    border-radius: 8px;
    gap: 12px;
}
.rectangle .left-side{
    color: #F9FAF8;
    padding: 0;
}
.rectangle p{
    margin: 0;

}
.right-side{
    flex-shrink: 0;
    align-self: center;
}
.right-side > button{
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
}